<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3">
            <%= image_tag current_user.avatar_url, class: "circle responsive-img" %>
            <%= render partial: "basic_info", locals: {github_service: @github_service} %>
          </div>
          <div class="col s8">
            <table>
              <thead>
                <tr>
                    <th data-field="contributions">Contributions</th>
                    <th data-field="name">Longest Streak</th>
                    <th data-field="price">Current Streak</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%= @total %></td>
                  <td><%= @longest_streak %></td>
                  <td><%= @current_streak %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<%= render partial: "repositories", locals: {github_service: @github_service} %>
<%= render partial: "recent_commits", locals: {github_service: @github_service} %>
<%= render partial: "following_commits", locals: {github_service: @github_service} %>
<%= render partial: "organizations", locals: {github_service: @github_service} %>
